body {
    height: 100%;
    width: 100%;
    background: #F5F5F5;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;

}

#cats-container {
    display: flex;
}

#cat-count {
    margin-bottom: 10px;
}